.discover__loading {
    display: grid;
    place-items: center;
    margin-top: 30vh;
}

.discover__grid {
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 2px;
    grid-auto-flow: dense;
}

.discover__image {
    display: grid;
}

.discover__sideCrop, .discover__image, .discover__modalImage, .discover__modalImage img {
    width: 100%;
    height: 100%;
}

.discover__sideCrop {
    overflow: hidden;
    display: grid;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.discover__sideCrop::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.discover__sideCrop::before {
    grid-area: 1 / 1 / 2 / 2;
}
.discover__sideCrop:hover::before {
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
}

.discover__image:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.discover__half__zoom {
    grid-row: span 2;
}

.discover__modal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.discover__modalItem {
    max-width: 465px;
    width: 100%;
    height: 600px;
    position: relative;
}
.discover__modalImage {
    overflow: hidden;
    
}
.discover__modalImage img{
    max-height: 600px;
    object-fit: cover;
    object-position: 50% 50%;
}

.discover__modalContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 335px;
    border-left: 1px solid #efefef;
    height: 600px;
}

.discover__modalContent__header {
    height: 72px;
    width: 100%;
}

.discover__modalContent__headerContent, .discover__modalContent__description {
    display: flex;
    justify-content: left;
    padding: 16px;
}

.discover__modalContent__description__text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.discover__modalContent__description__text p {
    margin-top: 2px;
    margin-left: 10px;
    font-size: 0.9rem;
}

.discover__modalContent__description__text p:nth-child(3) {
    color: gray;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 0.8rem;
}

.discover__modalContent__description {
    padding-top: 0;
}

.discover__modalContent__description:nth-child(1) {
    padding: 16px 16px 32px 16px;
}

.discover__modalContent__headerContent strong {
    padding-top: 7px;
}

.discover__modalContent__header img, .discover__modalContent__description img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.discover__modalContent__comments {
    border-top: 1px solid #eeeeee;
    width: 100%;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.discover__modalContent__buttons {
    border-top: 1px solid #eeeeee;
    width: 335px;
    height: 82px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discover__modalContent__buttons__line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px 16px 0 8px ;
}
.discover__modalContent__buttons__left {
    padding-left: 8px;
    padding-top: 2px;
}

.discover__modalContent__buttons__left svg{
    padding-right: 10px;
    cursor: pointer;
}

.discover__modalContent__buttons__right svg{
    padding-top: 3px;
    cursor: pointer;
}

.discover__modalContent__buttons__posted {
    padding: 0 0 8px 16px ;
    font-size: 0.7rem;
    color: grey;
}


.discover__modalContent__footer {
    width: 335px;
    height: 56px;
}
.discover__modalContent__footer form{
    margin-top: 0;
}
.discover__modalContent__footer .post__input{
    padding-top: 20px;
    padding-left: 16px;
    outline: none;
}
.discover__modalContent__footer .post__button{
    padding-top: 10px;
    padding-right: 16px;
}

@media screen and (min-width: 736px) {
    
    .discover__grid{
        width: 100%;
        margin: 0 auto 30px;
    }
}

@media screen and (min-width: 736px) {
    
    .discover__grid{
        box-sizing: content-box;
        max-width: 935px;
        padding: 40px 20px 0;
        width: calc(100% - 40px);
        margin: auto;
        grid-gap: 25px;
    }
}

