  .main__header {
    position: sticky;
    top: 0;
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  .main__headerImage {
    width: 25%;
    object-fit: contain;
  }
  
  .main__posts {
    padding: 20px;
  }