.main__posts {
  padding: 20px;
  padding-top: 25px;
  background-color: #FAFAFA;
}

.main__scrolTop {
  background-color: #FAFAFA;
  height: 110vh;
  width: 30px;
  position: fixed;
  margin-top: -60px;
  transition: 0.5s;
  display: flex;
  flex-direction: column-reverse;
  cursor: pointer;
}

.main__scrolTop svg{
  margin-bottom: 10vh;
  margin-left: 7px;
}

.main__scrolTop:hover {
  background-color: #c7c7c7;
}

textarea:focus, input:focus{
  outline: none;
}

.main__loading {
  display: grid;
  place-items: center;
}

@media screen and (max-width: 660px) {

  .main__scrolTop {
    display: none;
  }
  .main__posts {
    padding: 0;
  }
  .main__loading {
    padding-top: 15px;
  }
}