  div:focus {outline: 0;} /* fixing blue borders in modal divs */
  
  .modal__modalImage {
    padding-top: 3%;
    width: 50%;
  }

  .modal__deleteImg {
    max-height: 15vh;
    border-radius: 50%;
    margin-bottom: 2vh;
    margin-top: 2vh;
  }
  
  .modal__signup {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10% 10% 0 10%;
  }

  .modal__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1vh auto;
    /* background-color: lightgreen; */
  }

  .modal__body h2, .modal__body h3 {
    margin-bottom: 2vh;
    text-align: center;
  }
  .modal__body input {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    resize: vertical;
    margin-bottom: 2vh;
    text-align: center;
  }

  .modal__body__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .modalMessage__body {
    width: 100%;
    height: 100%;
  }

  .modalMessage__body__header {
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .modalMessage__body__header__close {
    display: flex;
    flex: 0 0 48px;
    justify-content: center;
    align-items: center;
  }
  
  .modalMessage__body__header__close svg{
    margin-left: 16px;
    margin-right: 16px;
    cursor: pointer;
  }

  .modalMessage__body__header__title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .modalMessage__body__header__title h3{
    font-size: 16px;
  }

  .modalMessage__body__header__next {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .modalMessage__body__header__next button{
    flex: 0;
    border: none;
    background-color: transparent;
    margin-right: 10px;
  }

  .modalMessage__body__search__field {
    border-bottom: 1px solid #dbdbdb;
    max-height: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .modalMessage__body__search__field__line {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 8px;
    max-height: 200px;
  }

  .modalMessage__body__search__field__line__to {
    align-content: stretch;
    width: 35px;
    padding: 4px 12px;
  }

  .modalMessage__body__search__field__line__input{
    flex-wrap: wrap;
    overflow-wrap: normal;
    width: calc(100% - 65px);
  }

  .search__field__line__input{
    outline: 0 !important;
    border: 0;
    flex-grow: 1;
    font-size: 14px;
    line-height: 30px;
    margin: 0;
    overflow: visible;
    padding: 2px 12px 4px 12px;
    width: 90%;
  }

  .MessModalElem {
    display: flex;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
  }
  
  .MessModalElem:hover {
    background-color: #faf9f9;
  }
  
  .MessModalElem__Left {
    width: 100%;
    display: flex;
  }

  .MessModalElem img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  .MessModalElem strong, .MessModalElem p {
    margin-left: 10px;
    width: 80%;
    font-size: 14px;
  }

  .MessModalElem p {
    color: #8e8e8e;
  }

  .MessModalElem__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4px;
  }
  
  .MessModalElem__body__noFull{
    height: 100%;
    width: 100%;
    padding-top: 10px;    
  }

  /* --== Custom checkbox CSS ==-- */
    .MessModalElem__checkbox__div {
      margin-top: 10px;
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    
    /* Hide the browser's default checkbox */
    .MessModalElem__checkbox__div input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    
    /* When the checkbox is checked, add a blue background */
    .MessModalElem__checkbox__div input:checked ~ .MessModalElem__checkmark {
      background-color: #2196F3;
    }

    /* Create a custom checkbox */
    .MessModalElem__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #dbdbdb;
    border-radius: 50%;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .MessModalElem__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .MessModalElem__checkbox__div input:checked ~ .MessModalElem__checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .MessModalElem__checkbox__div .MessModalElem__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* --== end of checkbox CSS ==-- */
