.post {
    max-width: 600px;
    background-color: white;
    border: 1px solid lightgrey;
    margin: 0 auto;
    margin-bottom: 30px;
}

.post__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.post__text {
    font-weight: normal;
    padding: 20px;
}

.post__header {
    display: flex;
    align-items: center;
    padding: 20px 10px;
}

.post__avatar {
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 5px;
}

.post__comments {
    padding: 0 20px 10px 20px;
}

.post__comments p{
    padding-top: 2px;
    padding-bottom: 2px;
}

.showShorted__comments {
    padding: 5px 0 5px 10px;
    color: gray;
    cursor: pointer;
}

.postedTime__comments, .postedTime__single__comments {
    margin: 10px 0 0 10px;
    color: gray;
    font-size: 14px;
}

.postedBlock__comments {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: gray;
    margin: 10px 10px 0 10px;
}

.postedTime__single__comments {
    margin: -5px 0 0 10px;
}

.post__input {
    flex: 1;
    padding: 10px;
    border: none;
    border-top: 1px solid #eeeeee;
}

.post__button {
    flex: 0;
    border: none;
    border-top: 1px solid #eeeeee;
    background-color: transparent;
}

@media screen and (max-width: 660px) {

    .post {
        border-left: 0px;
        border-right: 0px;
    }
    
    .post:first-child {
        border-top: 0px;
    }

    .post__text, .post__comments {
        padding: 15px 10px 15px 5px;
    }
    .post__comments {
        padding-top: 0;
    }
  }