.profileSet {
    width: 50vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 1.5vh;
}

.profileSet__comments {
    margin: auto;
    margin-top: 30vh;
}

label {
    padding-top: 5px;
}
div:nth-child(28) > label {
    padding-top: 6px;
}

.profileSet__header {
    /* background-color: lightgreen; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: center;
}
.profileSet__header div{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileSet__userImage{
    max-height: 6vh;
    border-radius: 50%;
    margin-right: 30px;
}

.profileSet__leftColumn {
    display: flex;
    justify-content: flex-end;
}

.profileSet__rightBlock {
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
}
.profileSet__rightBlock p {
    margin-top: 1vh;
}

.profileSet__rightColumn input, .profileSet__rightColumn p, strong, textarea {
    margin-left: 10px;
    width: 80%;
    font-size: 1rem;
}
.profileSet__rightColumn input, textarea {
    border-radius: 3px;
    border: 1px solid lightgray;
    padding: 5px;
    resize: vertical;
}

.profileSet__rightColumn button {
    margin-left: 10px;
}

.profileSet__rightColumn p {
    color: grey;
    font-size: smaller;
}

.profileSet__rightColumn strong{
    color: grey;
    margin-top: 2vh;
}

.profileSet__changePass {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.profileSet__rightColumn strong:nth-child(1){
    margin-top: 1vh;
}

/* Imported buttons styles */

button:focus {outline: 0;} /* fixing blue borders on buttons */

.mainBtn, .secBtn, .thirdBtn {
    box-shadow:inset 0px 1px 0px 0px #c1cbe6;
    background:linear-gradient(to bottom, #96b1e0 5%, #4f7db5 100%);
    background-color:#96b1e0;
    border-radius:6px;
    border:1px solid #7a8dc7;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966;
  }
  .mainBtn:active, .secBtn:active, .thirdBtn:active {
    position:relative;
    top:1px;
  }
  
  .secBtn {
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:linear-gradient(to bottom, #eb746c 5%, #c62d1f 100%);
	background-color:#eb746c;
	border:1px solid #d02718;
	color:#ffffff;;
	text-shadow:0px 1px 0px #810e05;
  }
  .thirdBtn {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	background-color:#f9f9f9;
	border:1px solid #dcdcdc;
	color:#666666;
	text-shadow:0px 1px 0px #ffffff;
}
/* End of buttons styles */