* {
  margin: 0;
}

.app {
  height: 100vh;
  background-color: #fafafa;
}

.app__header {
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgrey;
}

.app__headerImage {
  width: 15%;
}