* {
  margin: 0;
}

.app {
  height: 100vh;
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  object-fit: contain;
  background-color: white;
  padding: 10px 15px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  width: auto;
  z-index: 1;
  flex-wrap: nowrap;
  min-width: 295px;
}

.app__headerImage {
  width: 100%;
  max-width: 110px;
  object-fit: contain;
  height: 30px;

}

.app__headerButtons {
  margin-top: 3px;;
  display: block;
}

.navbar__link {
  color: black;
  padding-right: 10px;
}

html {
  scroll-behavior: smooth;
}